/* DOCUMENTO CSS */

body{
	margin:10px;
	padding:0;
	border:0;
	font-family:Comic Sans MS ;
	background-image: url(figurinha/imagem.jpg);
	background-size: cover;
	background-attachment: fixed;


}
header{
	height: 100px;
	padding-top: 10px;
	color:black;
	text-align: center;
}
main{
	margin:0;
	padding:0;
	display: flex;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
	align-content: center;


}
.box {
	width:300px;
	height:500px;
	background-color:#FFEB3B;
	border-radius: 20px;
	padding: 10px;
	text-align: : center;
	margin: 20px 20px 0 20px;
}
.box:hover{
	box-shadow: 10px 10px 20px black;
	background-color:#c0ff3d;
	

}
.box figure {
	width: 250px;
	height: 250px;
	margin: 0px 40px 0px 40px;
	padding: 0;
}


}
footer{
	background-color: #cf97a0;
	height: 70px;
	padding-top: 10px;
	color:darkgoldenrod;
	text-align: center;
}
p {
	color: black;
}

footer {
	
}